.header {
    margin-bottom: 67px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #1c1d28;


    &__inner {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;

    }

    .logo__link {
        color: #1c1d28;
    }

    .logo {
        width: 65px;
        height: 65px;
    }

    &_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 410px;
        flex: 1 1 auto;
        margin-right: 101px;
    }


    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 343px;
        flex: 1 1 auto;

        .number {
            font-weight: 700;
        }

        .discuss_project {
            background: #5551f7;
            color: #ffffff;
        }
    }
}

.container {
    max-width: 1162px;

    width: 100%;
    margin: 0 auto;
}

.button_project {
    padding: 12px 25px 12px 24px;
}

.main {
    margin-bottom: 150px;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        font-family: 'Montserrat';
        font-style: normal;
        flex-wrap: wrap;

        .left-side {
            flex: 1 1 39%;
            height: 100%;
            display: flex;
            align-items: center;

            .top-text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 145%;
                letter-spacing: 0.05em;
                color: #1C1D28;
                margin-bottom: 18px;
                margin-top: 23px;
            }

            .main__container {
                max-width: 261px;
                margin: 0 auto;
                margin-right: 141px;
            }

            .main__title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 145%;
                /* or 44px */
                letter-spacing: 0.02em;
                margin-bottom: 41px;
                color: #1C1D28;
            }

            .main__btn_project {
                display: inline-block;
                border: 1px solid #5551F7;
                color: #5551F7;
                margin-bottom: 80px;
            }

            .main__pagination {
                .pagination__ellipses {
                    padding: 12px;

                    border-radius: 100%;
                    border: 1px solid #E3E3E3;
                }

                .pagination__ellipses:first-of-type {
                    padding: 12px;
                    border-radius: 100%;
                    border-top: 1px solid #5551F7;
                    rotate: 45deg;
                }
            }
        }

        .right-side {
            flex: 1 1 50%;
        }

        .about-us {
            color: #1C1D28;
            max-width: 864px;
            margin-top: 118px;
            margin-left: -67px;

            .top-text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 148%;
                letter-spacing: 0.05em;
                margin-bottom: 15px;

            }

            &__text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 145%;
                /* or 44px */
                margin-bottom: 40px;

                letter-spacing: 0.02em;
            }

            .bottom-text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 194%;
                /* or 28px */

                letter-spacing: 0.02em;
            }
        }


    }
}

.our-works {
    &__inner {}

    &__title {
        margin-left: 115px;
        margin-bottom: 23px;
    }

    .title_h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 145%;
        letter-spacing: 0.02em;
        color: #1C1D28;
    }

    &__main {}

    &__tabs {
        display: flex;
        justify-content: space-between;

        margin-left: 115px;
    }

    .tab {
        display: flex;
        flex: 0 0 600px;
        justify-content: space-between;

        .tab__item {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 145%;
            /* identical to box height, or 22px */
            letter-spacing: 0.02em;
            color: #1C1D28;
            cursor: pointer;

            a {
                padding-bottom: 5px;
            }

            .active {
                color: #FF5C66;
                border-bottom: 2px solid #FF5C66;
            }
        }

        span {
            color: rgba(28, 29, 40, 0.5);
            vertical-align: super;
            font-size: 10px;
            margin-top: -5px;
        }
    }

    .all-works {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 145%;
        letter-spacing: 0.02em;
        color: #FF5C66;
        display: flex;

        &::after {
            margin-left: -3px;
            margin-top: -4px;
            margin-right: 12px;
            content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Red_arrow_southeast.svg/1200px-Red_arrow_southeast.svg.png?20180912121706);
            transform: rotate(-45deg) scale(0.015);
            position: relative;
            display: inline-block;
            width: 24px;
            height: 30px;
        }
    }

    .our-works__exemples {
        display: grid;
        gap: 10px;
        grid-template-areas:
            "a a a a a "
            "b b b c c"
            "d d e e e "
            "f f f f f"
            "j j j i i";
        grid-template-rows: 580px 497px 497px 580px 497px;
        max-width: 1120px;
        padding: 5px;
        margin: 0 auto;

        .examples__item {
            background: url("img/bg-img.png");
            background-size: 100% 100%;
        }

        .examples__item:nth-child(1) {
            grid-area: a;
            height: 560px;
            width: 100%;
        }

        .examples__item:nth-child(2) {
            grid-area: b;
            background-color: green;

        }

        .examples__item:nth-child(3) {
            grid-area: c;
            background-color: yellow;
        }

        .examples__item:nth-child(4) {
            grid-area: d;
            background-color: red;
        }

        .examples__item:nth-child(5) {
            grid-area: e;
            background-color: pink;
        }

        .examples__item:nth-child(6) {
            grid-area: f;
            background-color: coral;
        }

        .examples__item:nth-child(7) {
            grid-area: j;
            background-color: #5551F7;
        }

        .examples__item:nth-child(8) {
            grid-area: i;
            background-color: darkblue;
        }



    }


}